@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:brown;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

  
img{
    max-width: 500px;
    min-width: 200px;
    max-height: 500px;
    border: 5px solid white;
    border-radius: 20px;
}
.col-12{
    height: 80vh;
}

.button{
    background-color: white;
    color: brown;
    border: 3px solid brown;
    border-radius: 10px;
    padding: 5px 13px;
    font-size: 25px;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.5);
    
}
.button:hover{
    background-color: rgb(165, 42, 42);
    color: white;
    border: 3px solid white;
    cursor: pointer;
    transition: 0.5s ease-in-out; 
}

#immagine {
    display: none;
}


label{
    color: white;
    font-size: 20px;
}








/*********** Baseline, reset styles ***********/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 15rem;
  }
  
  /* Removes default focus */
  input[type="range"]:focus {
    outline: none;
  }
  
  /******** Chrome, Safari, Opera and Edge Chromium styles ********/
  /* slider track */
  input[type="range"]::-webkit-slider-runnable-track {
    background-color: #ffffff;
    border-radius: 1rem;
    height: 12px;
  }
  
  /* slider thumb */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -6.5px; /* Centers thumb on the track */
    height: 25px;
    width: 1rem;
    background-color: rgb(165, 42, 42);
    border: 2px solid white; 
    border-radius: 2rem;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.5);
  }
  
  input[type="range"]:focus::-webkit-slider-thumb {
    outline: 1px solid white;
    outline-offset: 0.125rem;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.5);
  }
  
  /*********** Firefox styles ***********/
  /* slider track */
  input[type="range"]::-moz-range-track {
    background-color: #ffffff;
    border-radius: 1rem;
    height: 12px;
  }
  
  /* slider thumb */
  input[type="range"]::-moz-range-thumb {
    background-color: rgb(165, 42, 42);
    border: 2px solid white; 
    border-radius: 2rem;
    height: 25px;
    width: 1rem;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.5);
  }
  
  input[type="range"]:focus::-moz-range-thumb{
    outline: 1px solid white;
    outline-offset: 0.125rem;
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.5);
  }
